body {
    background: #243549;
    font-family: "Nunito", sans-serif;
    align-items: center;
    display: grid;
    justify-items: center;
	margin:0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}

 .signup-container {
	 display: grid;
	 grid-template-areas: "left right";
	 max-width: 1000px;
}
 .left-container {
	 overflow: hidden;
	 padding: 40px 0 0 0;
	 position: relative;
	 text-align: center;
	 width: 500px;
}

 .left-container .pic {
	 bottom: -5px;
	 position: absolute;
	 text-align: center;
}
 .left-container img {
	 width: 100%;
}
 .right-container {
	 background: rgb(4,123,163)     ;
	 display: grid;
	 grid-template-areas: "." ".";
	 width: 500px;
}
 .right-container h1:nth-of-type(1) {
	 color: rgba(256, 256, 256, 1);
	 font-size: 28px;
	 font-weight: 600;
}
 .right-container .set {
	 display: flex;
	 justify-content: space-between;
	 margin: 20px 0;
}
 .right-container input {
	 border: 1px solid #fff;
	 border-radius: 4px;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 5px;
}
 .right-container input, .right-container label {
	 color: #fff;
}
 .right-container header {
	 padding: 40px;
}
 .right-container label, .right-container input, .right-container .photo {
	 width: 176px;
}
 .right-container .photo {
	 align-items: center;
	 display: grid;
	 grid-template-areas: ". .";
}
 .right-container .photo button {
	 border: none;
	 border-radius: 50%;
	 height: 38px;
	 margin-right: 10px;
	 outline: none;
	 width: 38px;
}
 .right-container .photo button i {
	 color: rgba(0, 0, 0, .8);
	 font-size: 16px;
}
 .right-container .brand-management .radio-container {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
     font-size: 8px;
     color :#d32f2e;
}
 .right-container footer {
	 align-items: center;
	 background: #040404;
	 display: grid;
	 padding: 5px 40px;
     align-items: center;
	 margin:0;
}
 .right-container footer button {
	 border: 1px solid rgba(0, 0, 0, .2);
	 height: 38px;
	 line-height: 38px;
	 width: 100px;
	 border-radius: 19px;
	 font-family: 'Montserrat', sans-serif;
	 font-size: x-large;
}
 .right-container footer #next {
	 background: #d32f2e;
	 border: 1px solid transparent;
	 color: #fff; 
}

 .right-container footer #next:hover {
	 background: #171a2b;
}

 .name label, .mail label, .birthday label, .gender label, .brand-management label {
	 display: block;
	 margin-bottom: 5px;
}
 .radio-container {
	 background: #fff;
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 display: inline-block;
	 padding: 5px;
}
 .radio-container label {
	 background: transparent;
	 border: 1px solid transparent;
	 border-radius: 2px;
	 display: inline-block;
	 height: 26px;
	 line-height: 26px;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 transition: 0.2s all ease-in-out;
	 width: 80px;
     color: rgb(117, 117, 117);
}
 .radio-container input[type="radio"] {
	 display: none;
}
 .radio-container input[type="radio"]:checked + label {
	 background: #f8a4a4;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
	background-color: rgba(256, 256, 256, 0.6);
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #ea1c2c;
	font-size: 2rem;
	font-weight: 400;
}

#headingGroup span {
	color: #ea1c2c;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.img-responsive {
	height: auto;
	width: auto;
	max-height: 72px;
	max-width: 250px;
}

.img-responsive-react {
	height: auto;
	width: auto;
	max-height: 7rem;
	max-width: 7rem;
}

.adlika {
	font-weight: 4rem;
	font-size: 2rem;
	color: rgb(256, 256, 256);
	margin-left: 1rem;
	margin-right: 1rem;
}

.adlika:hover {
	text-decoration: none;
	color: rgb(256, 256, 256);
}

#side-buttons {
	z-index: 100;
	position: fixed;
	top: 25%;
	left: 95%;
	background-color: rgba(0, 0, 0, 0.2);
	padding-left: 1rem;
	padding-right: 1rem;
}

#heading {
	position: relative;
	top: 220px;
	color: rgb(77, 214, 77);
	font-family: sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	text-align: center;
}

#get-started {
	position: relative;
	top: 235px;
	margin-left: 45%;
}

.navigate {
	height: auto;
	display: block;
	color: #5bc0de;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	font-size: 2rem;
}

.navigate:hover {
	text-shadow: rgba(0, 0, 0, 0.2);
	color: aliceblue;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
		font-weight: 100;
		font-size: 3rem;
	}
	.blurb h2 {
		font-size: 2rem;
	}
}
.section-margin {
	margin-top: 80px;
}

@media (max-width: 800px) {
	.adlika {
		font-size: 3rem;
		margin-top: 10rem;
		margin-left: 0.2rem;
		margin-right: 0.2rem;
	}
	.reaction {
		display: none;
	}
	#heading {
		display: none;
	}
	#get-started {
		display: none;
	}
	#side-buttons {
		display: none;
	}
}

.gridimg {
	height: 100%;
	width: 100%;
}

#services {
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#services .col-md-6 {
	margin: 0;
	padding: 0;
}

.onimage {
	z-index: 98;
	position: relative;
	top: 50%;
	width: 75%;
	text-align: center;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(256, 256, 256);
	margin: auto auto;
}

#services .row .col-md-6 .thumbnail {
	margin: 0;
}

footer {
	background-color: rgba(0, 0, 0, .4);
	text-align: center;
	color: white;
	font-size: 1rem;
	margin: 0 0;
	line-height: 50px;
}

.footericon {
	font-size: 1rem;
	color: white;
}

.footeritem {
	color: inherit;
	padding: 1rem 3.7rem;
}

.footeritem:hover {
	text-decoration: none;
	color: #5bc0de;
}

.footertext {
	font-size: 1rem;
}
@media(max-width: 1024px){
	.footertext{
		display:none;
	}
}
